.group-1,
.group-1 * {
    box-sizing: border-box;
}

.group-1 {
    width: 1440px;
    height: 1716px;
    position: relative;
}

.desktop-2 {
    background: #ffffff;
    width: 1440px;
    height: 1716px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.rectangle-2 {
    width: 240px;
    height: 674px;
    position: absolute;
    left: 655px;
    top: 1015px;
}

.o-objetivo-da-naturologia-estudar-utilizar-t-cnicas-e-m-todos-de-tratamento-naturais-para-prevenir-doen-as-recuperar-e-promover-a-sa-de-o-equil-brio-do-organismo-e-a-qualidade-de-vida-uma-ci-ncia-que-re-ne-conhecimentos-das-reas-de-sa-de-biol-gicas-e-humanas-e-trata-o-indiv-duo-de-forma-hol-stica-considerando-aspectos-emocionais-mentais-f-sicos-sociais-e-de-sua-rela-o-com-o-meio-ambiente-o-mercado-de-trabalho-para-o-natur-logo-promissor-e-vem-aumentando-a-cada-ano-principalmente-devido-busca-e-ao-interesse-pelo-uso-de-terapias-naturais-a-fim-de-alcan-ar-um-maior-equil-brio-prevenir-doen-as-e-cuidar-da-sa-de-al-m-de-atuar-em-estabelecimentos-privados-de-sa-de-esse-profissional-vem-sendo-requisitado-em-cada-vez-mais-segmentos-como-na-hotelaria-e-at-mesmo-no-servi-o-p-blico-de-sa-de {
    color: #000000;
    text-align: left;
    font: 400 24px 'Raleway', sans-serif;
    position: absolute;
    left: 81px;
    top: 1078px;
    width: 501px;
    height: 626px;
}

.naturologia {
    color: #107070;
    text-align: center;
    font: 700 32px 'Raleway', sans-serif;
    position: absolute;
    left: -115px;
    top: 1012px;
    width: 835px;
    height: 364px;
}

.pexels-chokniti-khongchum-2280568-1 {
    width: 176px;
    height: 647px;
    position: absolute;
    left: 1222px;
    top: 278px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 1.00);
}

.com-a-biotecnologia-industrial-ser-poss-vel-cada-vez-mais-intensificar-a-produ-o-de-forma-sustent-vel-a-fabrica-o-de-combust-veis-renov-veis-a-partir-de-res-duos-agr-colas-baga-o-de-cana-sementes-entre-outros-um-exemplo-de-como-podemos-reduzir-a-explora-o-de-recursos-naturais-a-biotecnologia-na-sa-de-tem-acelerado-o-diagn-stico-e-tratamento-de-doen-as-al-m-dos-produtos-dispon-veis-a-biologia-sint-tica-abrir-um-novo-mundo-no-entendimento-de-diferentes-v-rus-e-produ-o-de-vacinas-com-os-avan-os-na-tecnologia-crispr-est-o-sendo-avaliadas-terapias-celulares-para-o-v-rus-da-imunodefici-ncia-humana-hiv-na-agricultura-a-biotecnologia-tornou-se-indispens-vel-afinal-com-ela-que-pode-se-atender-demanda-crescente-por-alimentos-sem-perder-o-olhar-de-sustentabilidade-mas-ainda-veremos-muito-mais-a-nanotecnologia-e-a-biologia-sint-tica-t-m-o-grande-potencial-de-instaurar-uma-nova-transforma-o-na-biotecnologia-agr-cola-apenas-para-citar-uma-possibilidade-imediata-com-elas-poderemos-aumentar-o-direcionamento-e-precis-o-de-tudo-que-fazemos-no-campo {
    color: #000000;
    text-align: center;
    font: 400 20px 'Raleway', sans-serif;
    position: absolute;
    left: 746px;
    top: 307px;
    width: 437px;
}

.rectangle-1 {
    width: 161px;
    height: 647px;
    position: absolute;
    left: 546px;
    top: 278px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.a-biotecnologia-o-conjunto-de-procedimentos-envolvendo-manipula-o-de-organismos-vivos-para-fabricar-ou-modificar-produtos-a-palavra-tem-origem-grega-bio-significa-vida-tecnos-remete-a-t-cnica-e-logos-quer-dizer-conhecimento-ao-longo-do-tempo-a-biotecnologia-se-transformou-incorporando-novas-ferramentas-e-aplica-es-o-avan-o-nos-conhecimentos-sobre-gen-tica-microbiologia-qu-mica-fisiologia-biologia-molecular-entre-outras-foram-decisivos-para-desenvolvermos-o-que-chamamos-hoje-de-biotecnologia-moderna {
    color: #000000;
    text-align: center;
    font: 400 20px 'Raleway', sans-serif;
    position: absolute;
    left: 105px;
    top: 336px;
    width: 390px;
    height: 404px;
}

.biotecnologia {
    color: #107070;
    text-align: center;
    font: 700 24px 'Raleway', sans-serif;
    position: absolute;
    left: 219px;
    top: 285px;
}

.as-profiss-es-do-futuro-s-o-carreiras-em-diferentes-reas-sobre-as-quais-h-grandes-expectativas-de-valoriza-o-para-os-pr-ximos-anos-e-d-cadas-gerando-boas-oportunidades-profissionais-para-quem-as-escolhe {
    color: #000000;
    text-align: center;
    font: 400 24px 'Raleway', sans-serif;
    position: absolute;
    left: 181px;
    top: 86px;
    width: 994px;
    height: 38px;
}

.profiss-es-do-futuro {
    color: #107070;
    text-align: center;
    font: 700 32px 'Raleway', sans-serif;
    position: absolute;
    left: 551px;
    top: 33px;
}