.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.group-2 {
  flex-shrink: 0;
  width: 1440px;
  height: 3166px;
  position: static;
}
.pagina-home {
  background: #d9d9d9;
  width: 1440px;
  height: 3166px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.floricultura-logo-minimalista-e-elegante-1 {
  width: 1440px;
  height: 933px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-1 {
  background: #ffffff;
  width: 1440px;
  height: 174px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.middlemist {
  color: #000000;
  text-align: left;
  font: 400 32px "EB Garamond", sans-serif;
  position: absolute;
  left: 19px;
  top: 12px;
  width: 206px;
  height: 49px;
}
.home {
  color: #133c62;
  text-align: left;
  font: 400 24px "Abhaya Libre", sans-serif;
  position: absolute;
  left: 498px;
  top: 61px;
  width: 59px;
  height: 31px;
}
.biotecnologia-e-naturologia {
  color: #133c62;
  text-align: left;
  font: 400 24px "Abhaya Libre", sans-serif;
  position: absolute;
  left: 610px;
  top: 61px;
  width: 273px;
  height: 31px;
}
.middlemist2 {
  color: #133c62;
  text-align: left;
  font: 400 24px "Abhaya Libre", sans-serif;
  position: absolute;
  left: 936px;
  top: 61px;
  width: 191px;
  height: 31px;
}
.estilo {
  color: #133c62;
  text-align: left;
  font: 400 24px "Abhaya Libre", sans-serif;
  position: absolute;
  left: 1280px;
  top: 61px;
  width: 56px;
  height: 31px;
}
.nosso-mural {
  color: #133c62;
  text-align: left;
  font: 400 24px "Abhaya Libre", sans-serif;
  position: absolute;
  left: 1104px;
  top: 61px;
  width: 123px;
  height: 31px;
}
.porque-um-futuro-sem-a-nossa-flora-n-o-um-vislumbre-mas-sim-um-conto-de-fadas {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 167px;
  top: 275px;
  width: 345px;
  height: 205px;
}
.seja-bem-vindo-middlemist {
  color: #ffffff;
  text-align: left;
  font: 400 40px "Raleway", sans-serif;
  position: absolute;
  left: 167px;
  top: 202px;
}
.rectangle-2 {
  background: #4f674f;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 202px;
  height: 72px;
  position: absolute;
  left: 66px;
  top: 799px;
}
.ver-plantas {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Abhaya Libre", sans-serif;
  position: absolute;
  left: 92px;
  top: 816px;
}
.rectangle-3 {
  position: absolute;
  left: 92px;
  top: 1005px;
  overflow: visible;
}
.rectangle-4 {
  position: absolute;
  left: 92px;
  top: 2007px;
  overflow: visible;
}
.jasmin {
  color: #133c62;
  text-align: left;
  font: 400 32px "ABeeZee", sans-serif;
  position: absolute;
  left: 563px;
  top: 1561px;
}
.amarilis {
  color: #133c62;
  text-align: left;
  font: 400 32px "ABeeZee", sans-serif;
  position: absolute;
  left: 550px;
  top: 2052px;
}
.l-tus {
  color: #133c62;
  text-align: left;
  font: 400 32px "ABeeZee", sans-serif;
  position: absolute;
  left: 545px;
  top: 2571px;
}
.jasmine-flowers-550-x-413-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 416px;
  height: 438px;
  position: absolute;
  left: 93px;
  top: 1507px;
}
.middlemist-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 417px;
  height: 437px;
  position: absolute;
  left: 92px;
  top: 1007px;
}
.middlemist3 {
  color: #133c62;
  text-align: left;
  font: 400 32px "ABeeZee", sans-serif;
  position: absolute;
  left: 563px;
  top: 1079px;
}
.a-flor-mais-rara-do-planeta-a-middlemist-vermelha-pertencente-esp-cie-middlemist-cam-lia-a-planta-possui-tons-de-vermelho {
  color: #02111f;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 563px;
  top: 1136px;
  width: 432px;
  height: 143px;
}
.existem-tipos-perenes-ou-caducif-lios-bem-como-arbustos-de-caule-lenhoso-escolha-entre-uma-diversidade-de-flores {
  color: #02111f;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 563px;
  top: 1628px;
  width: 391px;
  height: 143px;
}
.a-amar-lis-uma-flor-brasileira-super-resistente-ao-clima-tropical-e-adapt-vel-ela-pode-ser-cultivada-no-jardim-de-todos-os-cantos-do {
  color: #02111f;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 550px;
  top: 2120px;
  width: 391px;
  height: 143px;
}
.a-amar-lis-uma-flor-brasileira-super-resistente-ao-clima-tropical-e-adapt-vel-ela-pode-ser-cultivada-no-jardim-de-todos-os-cantos-do2 {
  color: #02111f;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 545px;
  top: 2640px;
  width: 391px;
  height: 143px;
}
.line-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 502px;
  height: 0px;
  position: absolute;
  left: 550px;
  top: 1376px;
  transform-origin: 0 0;
  transform: rotate(-0.228deg) scale(1, 1);
}
.line-2 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 502px;
  height: 0px;
  position: absolute;
  left: 550px;
  top: 1865px;
  transform-origin: 0 0;
  transform: rotate(-0.228deg) scale(1, 1);
}
.line-3 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 502px;
  height: 0px;
  position: absolute;
  left: 550px;
  top: 2380px;
  transform-origin: 0 0;
  transform: rotate(-0.228deg) scale(1, 1);
}
.line-4 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px 0 0 0;
  width: 502px;
  height: 0px;
  position: absolute;
  left: 550px;
  top: 2882px;
  transform-origin: 0 0;
  transform: rotate(-0.228deg) scale(1, 1);
}
._8-visualiza-es {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 545px;
  top: 1395px;
}
._8-visualiza-es2 {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 545px;
  top: 1883px;
  width: 157px;
  height: 31px;
}
._8-visualiza-es3 {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 545px;
  top: 2397px;
  width: 157px;
  height: 31px;
}
._8-visualiza-es4 {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 545px;
  top: 2901px;
  width: 157px;
  height: 31px;
}
._0-coment-rios {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 736px;
  top: 1396px;
}
._0-coment-rios2 {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 736px;
  top: 1879px;
}
._0-coment-rios3 {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 736px;
  top: 2398px;
}
._0-coment-rios4 {
  color: #000000;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 736px;
  top: 2902px;
}
.heavy-black-heart-23211-removebg-preview-1 {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 1027px;
  top: 1394px;
}
.heavy-black-heart-23211-removebg-preview-2 {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 1027px;
  top: 1886px;
}
.heavy-black-heart-23211-removebg-preview-3 {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 1027px;
  top: 2403px;
}
.heavy-black-heart-23211-removebg-preview-4 {
  width: 33px;
  height: 32px;
  position: absolute;
  left: 1027px;
  top: 2905px;
}
.image-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 416px;
  height: 439px;
  position: absolute;
  left: 93px;
  top: 2008px;
}
.rectangle-5 {
  background: #208492;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 304px;
  height: 90px;
  position: absolute;
  left: 92px;
  top: 3011px;
}
.todos-os-posts {
  color: #ffffff;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 141px;
  top: 3041px;
  width: 195px;
  height: 40px;
}
.rectangle-6 {
  background: #208492;
  border-radius: 50px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 486px;
  height: 70px;
  position: absolute;
  left: 455px;
  top: 3021px;
}
.oip-removebg-preview-2-1 {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 469px;
  top: 3029px;
}
.vamos-conversar-por-chat {
  color: #ffffff;
  text-align: left;
  font: 400 25px "Antic", sans-serif;
  position: absolute;
  left: 548px;
  top: 3041px;
}
.baixados-1 {
  width: 416px;
  height: 439px;
  position: absolute;
  left: 93px;
  top: 2509px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
